<!-- <section class="py-5">
  <h2 class="text-center mb-5 text-3xl font-bold">
    Gifs Populares <i class="fa-solid fa-chart-line"></i>
  </h2>
  <gifs-list [gifs]="gifsService.trendingGifs()" />
</section> -->
<h2 class="text-center my-5 text-3xl font-bold">
  Gifs Populares <i class="fa-solid fa-chart-line"></i>
</h2>
<div
  class="h-screen overflow-y-scroll grid grid-cols-2 md:grid-cols-4 gap-4"
  (scroll)="onScroll()"
  #groupDiv
>
  @for (group of gifsService.trendingGifsGroup(); track $index) {
  <div class="grid gap-4">
    @for (gif of group; track gif.id) {
    <a>
      <img
        class="h-full w-full rounded-lg object-cover"
        [src]="gif.url"
        [alt]="'image ' + gif.title"
      />
    </a>
    }
  </div>
  }
</div>
